@font-face {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/RedHatText-Medium.woff2") format("woff2"),
    url("../../assets/fonts/RedHatText-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Magra";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/Magra-Regular.woff2") format("woff2"),
    url("../../assets/fonts/Magra-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Magra";
  font-style: bold;
  font-weight: 700;
  src: url("../../assets/fonts/Magra-Bold.woff2") format("woff2"),
    url("../../assets/fonts/Magra-Bold.woff") format("woff");
  font-display: swap;
}