@import "../global/mixins.less";
@import "../global/variables.less";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  background-color: #f5901e;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  &__logo {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 170px;
    height: 100px;
  }
  .logo {
    &__home {
      background-image: url(/src/assets/png/shopping-bags.png);
    }
    &__text {
      font-family: "Magra", sans-serif;
      font-size: 32px;
      color: #94928f;
      line-height: 0.9;
      text-align: center;
    }
    &__basket {
    cursor: pointer;
    }
  }
}
.total {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  font-size: 22px;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  &__text {
    color: #f34d10;
  }
  &__summary {
    color: #2f0f04;
  }
}
.basket{
	display: flex;
	width: 5rem;
	height: 5rem;
	background-image: url(../../assets/png/basket.png);
	background-size: contain;
	align-items: center;
	justify-content: center;
}
.total_almount {
	display: flex;
	width: 2rem;
	height: 2rem;
	background-color: #FFBF00;
	border-radius: 50%;
	border: 2px solid black;
	align-items: center;
	justify-content: center;
}
.almount_text {
	font-size: 1.3rem;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 800;
	
}
