@import '../global/mixins.less';
@import '../global/variables.less';
//Вложенные тег генерируется во вложенность .header .navigation
// Когда пишешь через & добавляется к предыдущему. header { &__some-ext { rules}} === .header__some-ext
//удобно на каждый блок, секцию заводить свой файл less, типа footer = отдельный файл и так далее. Ну и в файле тоже удобно, когда один блок - и вложенные в него стили, хотя например с инпутами сложными, проще под каждый инпут сделать чуть ли не файл отдельный, но это так, по желанию, можно и в одном все лепить, если удобно
//Обязательно надо импортировать в точку входа entry.less новосозданный файл less, иначе не будет собираться
// и по БЭМ в разметке тот же принцип, в сущности, есть родительский элемент, и его дочерний будет через __ , модификатор через --. Не надо лепить что-то типа header__nav__ul__li--active. Нужно миксовать дополнительный класс. Вложенность одного уровня, типа если есть ul, то его дети будут ul__li, так типа должно быть

.header {
    &__logo {
        color: red;
    }
    .navigation {
        &__list {
            .reset-ul();//это миксин, типа функции, чисто для сокращения
        }
    }
    .nav-list {
        &__item {
            color: green;
        }
    }
    &__user-menu {
        color: @yellow;//это переменная, тоже надо импортировать в файл, чтобы пользоваться. Особо ничего не дает, но чуть удобнее
    }
}